body {
  font-family: serif;
  font-size: 1rem;
  color: snow;
  margin: 0 auto;
  padding: 0px;
  overflow-x: hidden;
  width: 100vw;
}

header {
  background-color: rgb(37, 37, 37);
  margin: 0;
  padding: 10px;
  width: 100vw;
  text-align: right;
}

header a {
  color: snow;
  padding-right: 60px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.sideCol {
  width: auto;
  background-color: rgb(192, 150, 150);
  padding: auto;
}

.main {
  padding: 30px;
  background-image: url(/Images/magicpattern-f8sDFh-So88-unsplash.jpg);
  z-index: 2;
}

strong {
  font-size: 1.5rem;
}

a {
  color: snow;
}

a:hover {
  color: rgb(71, 64, 116);
  font-size: 25px;
}

footer {
  position: fixed;
  padding: 10px;
  width: 100vw;
  background-color: blueviolet;
}
